<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @product_property.value %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_property.product.name %>
</p>

<p>
  <strong>Property:</strong>
  <%= @product_property.property.name %>
</p>


