<div class="row nested-fields">
  
  <div class="col-sm-6">
    <div class="form-group field">
      <%= f.label :property_id %>
      <%= f.text_field :property_id, class: 'form-control' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group field">
      <%= f.label :value %>
      <%= f.text_field :value, class: 'form-control' %>
    </div>
  </div>
</div>